extends layout.pug

block content
  .main-screen-content
    //- table
    //-   tr
    //-     td
    //-       img(src="../images/adele.jpg")
    //-       p rock
    //-     td
    //-       img(src="../images/adele.jpg")
    //-       p rock
    //-     td
    //-       img(src="../images/adele.jpg")
    //-       p rock
    //-     td
    //-       img(src="../images/adele.jpg")
    //-       p rock
    //- br
    //- table
    //-   tr
    //-     td
    //-       img(src="../images/adele.jpg")
    //-       p rock
    //-     td
    //-       img(src="../images/adele.jpg")
    //-       p rock
    //-     td
    //-       img(src="../images/adele.jpg")
    //-       p rock
    //-     td
    //-       img(src="../images/adele.jpg")
    //-       p rock
    //- br
    //- table
    //-   tr
    //-     td
    //-       img(src="../images/adele.jpg")
    //-       p rock
    //-     td
    //-       img(src="../images/adele.jpg")
    //-       p rock
    //-     td
    //-       img(src="../images/adele.jpg")
    //-       p rock
    //-     td
    //-       img(src="../images/adele.jpg")
    //-       p rock
    //- table
    //-   tr
    //-     td
    //-       img(src="../images/adele.jpg")
    //-       p rock
    //-     td
    //-       img(src="../images/adele.jpg")
    //-       p rock
    //-     td
    //-       img(src="../images/adele.jpg")
    //-       p rock
    //-     td
    //-       img(src="../images/adele.jpg")
    //-       p rock
    //- table
    //-   tr
    //-     td
    //-       img(src="../images/adele.jpg")
    //-       p rock
    //-     td
    //-       img(src="../images/adele.jpg")
    //-       p rock
    //-     td
    //-       img(src="../images/adele.jpg")
    //-       p rock
    //-     td
    //-       img(src="../images/adele.jpg")
    //-       p rock
    //- table
    //-   tr
    //-     td
    //-       img(src="../images/adele.jpg")
    //-       p rock
    //-     td
    //-       img(src="../images/adele.jpg")
    //-       p rock
    //-     td
    //-       img(src="../images/adele.jpg")
    //-       p rock
    //-     td
    //-       img(src="../images/adele.jpg")
    //-       p rock
