#mainContent
    .main-content__container
        .main-content__container__topbar
            a.topbar--hover.home-artists(href="/browse/artist") Artists
            a.topbar--hover.home-albums(href="/browse/album") Albums
            a.topbar--hover.home-playlists(href="/browse/playlist") Playlists
        .music-content__title Albums
        .main-content__grid
            .music-content
                .music-content__image
                    img(src="../images/adele.jpg")
                .music-content__artist
                    .music-content__artist-text Adele
                .music-content__bio Latest Album
                button#music-content__play-button(type="button")
                    i.fas.fa-play-circle#fa-play-circle
            .music-content
                .music-content__image
                    img(src="../images/adele.jpg")
                .music-content__artist Adele
                .music-content__bio
            .music-content
                .music-content__image
                .music-content__artist
                .music-content__bio
            .music-content
                .music-content__image
                .music-content__artist
                .music-content__bio
            .music-content
                .music-content__image
                .music-content__artist
                .music-content__bio
            .music-content
                .music-content__image
                .music-content__artist
                .music-content__bio
            .music-content
                .music-content__image
                    img(src="../images/adele.jpg")
                .music-content__artist
                    .music-content__text Adele
                .music-content__bio
            .music-content
                .music-content__image
                .music-content__artist
                .music-content__bio
            .music-content
                .music-content__image
                .music-content__artist
                .music-content__bio
            .music-content
                .music-content__image
                .music-content__artist
                .music-content__bio
            .music-content
                .music-content__image
                .music-content__artist
                .music-content__bio
            .music-content
                .music-content__image
                .music-content__artist
                .music-content__bio
            .music-content
                .music-content__image
                .music-content__artist
                .music-content__bio








    //- .main-screen-content__container
    //-     .main-screen-content__container__row1
    //-         .main-screen-content__container__row1a
    //-             .row1__section
    //-                 .row1__top-section
    //-                     img#row__top-section__adele(src="../images/adele.jpg")
    //-                 .row1__bottom-section
    //-                     .row1__bottom-section__artist-name Adele
    //-                     .row1__bottom-section__album-name Album Name
    //-                     .row1__bottom-section__green-button
    //-                     i.fas.fa-play-circles
    //-         .main-screen-content__container__row1b
    //-             .row1__section
    //-                 .row1__top-section
    //-                     img#row__top-section__adele(src="../images/adele.jpg")
    //-                 .row1__bottom-section
    //-                     .row1__bottom-section__artist-name Adele
    //-                     .row1__bottom-section__album-name Album Name
    //-                     .row1__bottom-section__green-button
    //-                     i.fas.fa-play-circles
    //-         .main-screen-content__container__row1c
    //-             .row1__section
    //-                 .row1__top-section
    //-                     img#row__top-section__adele(src="../images/adele.jpg")
    //-             .row1__bottom-section
    //-                 .row1__bottom-section__artist-name Adele
    //-                 .row1__bottom-section__album-name Album Name
    //-                     .row1__bottom-section__green-button
    //-                         i.fas.fa-play-circles
    //-         .main-screen-content__container__row1d
    //-         .main-screen-content__container__row1e
    //-     //- .title
    //-     //-     .genre-title Rap
    //-     //-     .genre-seeall See All
    //-     //- .main-screen-content__container__row2
    //-     //-     .row1__section
    //-     //-         .row1__top-section
    //-     //-             img#row__top-section__adele(src="../images/adele.jpg")
    //-     //-         .row1__bottom-section
    //-     //-             .row1__bottom-section__artist-name Adele
    //-     //-             .row1__bottom-section__album-name Album Name
    //-     //-             .row1__bottom-section__green-button
    //-     //-             i.fas.fa-play-circle
    //-     //- .title
    //-     //- .main-screen-content__container__row3
    //-     //-     .row1__section
    //-     //-         .row1__top-section
    //-     //-             img#row__top-section__adele(src="../images/adele.jpg")
    //-     //-         .row1__bottom-section
    //-     //-             .row1__bottom-section__artist-name Adele
    //-     //-             .row1__bottom-section__album-name Album Name
    //-     //-             .row1__bottom-section__green-button
    //-     //-             i.fas.fa-play-circle
    //-     //- .main-screen-content__container__row4
