#mainContent
    .main-content__container
        .main-content__container__topbar
            a.topbar--hover.home-artists(href="/browse/artist") Artists
            a.topbar--hover.home-albums(href="/browse/album") Albums
            a.topbar--hover.home-playlists(href="/browse/playlist") Playlists
        .music-content__title Albums
        .main-content__grid
            .music-content
                .music-content__image
                    img(src="../images/adele.jpg")
                .music-content__artist
                    .music-content__artist-text Adele
                    .music-content__bio Latest Album
                i.fas.fa-play-circle#music-card__play-button(type="button")
