doctype html
head
  meta(charset='UTF-8')
  link(rel='stylesheet' type='text/css' href='playbar.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.1/css/all.css')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' type='text/css' href='left-nav.css')
  link(rel='stylesheet' type='text/css' href='defaults.css')
  title Soundify
body
  main
    div
      .left-nav-bar
        #logo
          img(src= "../images/logo.png" alt='Soundify Logo')
        #home
          i.fas.fa-home
          | Home
        #search
          i.fas.fa-search
          | Search
        #library
          i.fas.fa-record-vinyl
          | Your Library
        h5 Playlists
        #create-playlist Create PlayList
        #liked-songs Liked Songs
  div#footer
    div.currently-playing
      p First Div
    div.player-controls-container
      #buttons
        i.fas.fa-play-circle
      #playback-bar
        p this wil be where the song playback bar
    div.sound-control
      p Third Div
