html
  head
    meta(charset='UTF-8')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.1/css/all.css')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    style
      include ../public/global.css
      include ../public/header.css
      include ../public/playbar.css
      include ../public/left-nav.css
      include ../public/home.css
    title Soundify
  body
    main
      .header
        .header__navigation-container
          .header__arrows
            button.header__leftArrow
              i.fas.fa-angle-left
            button.header__rightArrow
              i.fas.fa-angle-right
          .header_searchAndTypesContainer.header__collectionTypes--hidden
        .header__user-container
          .header__user-buttons
            i#header__user-buttons--dropdown.fas.fa-user-astronaut

          //- button#login(type="button") Log In
      .left-nav
        .left-nav__logo-container
          i.left-nav__logo-icon.fab.fa-spotify
          .left-nav__logo-text Soundify

        a(href="/").left-nav__link-container.left-nav__link-container--active
          i.left-nav__icon.fas.fa-home
          .left-nav__text Home
        a(href="/search").left-nav__link-container
          i.left-nav__icon.fas.fa-search
          .left-nav__text Search
        a(href="/collection/playlist").left-nav__link-container
          i.left-nav__icon.fas.fa-record-vinyl
          .left-nav__text Your Library

        .left-nav__playlist-container
          h2.left-nav__playlist-header Playlists
          .left-nav__playlist-links
            button(type='button').left-nav__playlist-head
              i.far.fa-plus-square
              .left-nav__playlist-text Create Playlist
            a(href='/playlist/likedSongs').left-nav__playlist-head
              i.fas.fa-heart
              .left-nav__playlist-text Liked Songs
            /// Each playlist in playlists:

      block content

      #footer
        .footer__currently-playing
          p First Div
        .footer__player-controls-container
          #footer__buttons
            i.fas.fa-play-circle
          #footer__playback-bar
            p this wil be where the song playback bar
        .footer__sound-control
          p Third Div
