* {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 16px;
  vertical-align: baseline;
  /* background:transparent; */
  font-family: "Neue Plak", -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}
​ body {
  line-height: 1;
}
​ article,
aside,
details,
figcaption,
figure,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
​ nav,
ol,
ul {
  list-style: none;
}
​ a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent;
}
main {
  min-height: 100%;
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 230px auto;
  grid-template-areas:
    "nav-bar main-view"
    "now-playing-bar now-playing-bar";
}

::-webkit-scrollbar {
  width: 16px;
  background-color: #121212;
}

::-webkit-scrollbar-thumb {
  background: #444;
}

.clear-footer {
  height: 90px;
}
