
.header{
  grid-area: main-view;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 230px;
  right: 0;
  height: 60px;
  z-index: 2;
  background-color: rgb(18,18,18);
  padding: 16px 48px;
  text-align:center;
  align-items: center;

}

.header__user-buttons{
  border: 1px solid grey;
  border-radius: 50%;
  color: white;
  transition-duration: .3s;
  width: 25px;
  height: 20px;
}

.header__user-buttons:hover{
  transform: scale(1.5);
}

#header__user-buttons--dropdown{

}

.header__leftArrow, .header__rightArrow{
background-color:rgb(18,18,18);
border: 1px red;
color: white;
padding: 12px 16px;
font-size: 16px;
cursor: pointer;
border-radius: 50%;
font-weight: 100;
}

/* Darker background on mouse-over */
.header__leftArrow:hover, .header__rightArrow:hover {
background-color: darkslategrey;
border-radius: 50%
}

.hidden {
  display: none;
}
