
#mainContent {
    grid-area: main-view;
    background-color: rgb(18,18,18);
}

.main-content__container{
    background-color: rgb(18,18,18);
    text-align: left;

    /* align-items: center; */
}

.main-content__container__topbar{
    height: 110px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    color: #b3b3b3;
    justify-content: space-evenly;
    padding: 8px;
    transition: .3s;
    -webkit-text-stroke: medium;
}

.music-content__artist-text{

}

.music-content__artist{
    margin: 5px;
    font-weight: bold;
}

.music-content__bio{
    font-size: 10px;
}

.main-content__grid {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 16px;
    vertical-align: baseline;
    background: transparent;
    font-family: "Neue Plak", sans-serif;
    line-height: inherit;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.music-content {
    color: white;
    font-family: "Circular";
    font-size: 16px;
    width: 200;
    max-height: 515px;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 0 8px 35px;
    border: 16px solid transparent;
    background-color: #282828;
    height: 142.39px;
    border-radius: 20px;
    height: 238px;
    margin: 10px;
    position: relative;
}


.music-content__image{
     height: 200px;
     width: 200px;
}

.music-content__title{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
    width: 85%;
    margin: auto;
    height: 200px;
    bottom:0;
    left: 0;
    -webkit-text-stroke: medium;
}

img{
   height: 150px;
    width: 76%;
}

#fa-play-circle{
    /* border: 2px solid green; */
    color: white;
    /* background: green; */
    width: 16px;
    height: 24px;
    display: flex;
    border-radius: 50%;
    align-self: flex-end;
    opacity: 1;
}

.music-content:hover #fa-play-circle{
    color: green;
    opacity: 1;

}

.music-container #fa-play-circle:hover{
    width: 100px;
}

.music-content__title{
    color: white;
    font-size: 24;

}

#music-content__play-button{
    width: 16px;
    height: 24px;
    display: flex;
    align-self: flex-end;
}

.topbar--hover:hover{
    color: white;
    border: 0px 0px 1px 0px;
}



/* .main-screen-content__container{
    display: grid;
    margin: 100px;
    grid-gap: 20px;
    flex-wrap: nowrap;
    grid-template-rows:
    "row1a row1b row1c row1d row1e"
    "row2a row2b row2c row2d row2e"
    "row3a row3b row3c row3d row3e"
    "row4a row4b row4c row4d row4e"
    "row5a row5b row5c row5d row5e"
}

.main-screen-content__container__row1a{
    grid-area: "row1a";
    width: 171px;
}
.main-screen-content__container__row1b{
    grid-area: "row1b";
}
.main-screen-content__container__row1c{
    grid-area: "row1c";
}
.main-screen-content__container__row1d{
    grid-area: "row1d";
}
.main-screen-content__container__row1e{
    grid-area: "row1e";
}

.main-screen-content__container__row2{
    grid-area: "row2";
}

.main-screen-content__container__row3{
    grid-area: "row3";
}

.main-screen-content__container__row4{
    grid-area: "row4";
}

.main-screen-content__container__row5{
    grid-area: "row5"
}

.row1__section{
    border: 16px solid transparent;
    background-color: #282828;
    height: 142.39px;
    border-radius: 20px;
    width: 200px;
    height: 238px;
    text-align: center;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.row1__top-section {
    height: 152;
    width: 171px;
}

.row1__top-section #row__top-section__adele{
    height: 76%;
    width: 100%;
}

#row1__bottom-section{
    display: flex;
    justify-content: right;
}

.row1__bottom-section__album-name{
    text-align: left;
    color: white;
    bottom: 5px;
    font-size: 10px;
}

.row1__bottom-section__artist-name{
    text-align: left;
    bottom: 10px;
    color: white;
    font-weight: bold;
}

.row1__section:hover{
    color: green;
    right: 0px;
}

.main-screen-content-title{
    color: white;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.top-bar-nav{
    text-align: center;
}

.container{
    text-align: center;
} */
