
.main-screen-content {
    grid-area: main-view;
    background-color: rgb(18,18,18)
}

table{
    width: 80%;
    text-align: center;
    margin-bottom: 20px;
    display: inline-table;
}

td{
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    background-color: darkgray;
    width: 167px;
    height: 220px;

}
